<%- include('./includes/headers.ejs'); %>


    <%- include('./includes/message.ejs'); %>

        <%- include('./includes/menu.ejs'); %>

            <div class="infoHome" style="margin-bottom: 100px;">
                <h1>Bem-vindo, <%= name %></h1>

                <h2 style="margin-bottom: 100px;">Quadro de avisos</h2>

                <h2>Notícias</h2>
            </div>


            <script src="/assets/js/bundle.js"></script>
            <script src="/assets/js/menu.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
