<%- include('./includes/headers.ejs'); %>
    <%- include('./includes/menu.ejs'); %>
        <%- include('./includes/message.ejs'); %>

            <div class="infoHome">
                <h1>Acesso a esta página é bloqueado, se for necessário acessá-la,<br>
                    entre em contato com sua Gestão.</h1>

            </div>

            <footer>
                <%- include('./includes/footer.ejs'); %>
            </footer>


            <script src="/assets/js/bundle.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>